@font-face {
  font-family: "PixelifySans";
  src: url("../fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PixelifySans", sans-serif;
  background-color: #09122c;
  color: white;
  padding-top: 80px;
}

.card {
  background-color: #101a3a;
  border: none;
}

.form-control,
.form-control:focus {
  background-color: #1e2a4a;
  color: white;
  border: none;
}

.form-control::placeholder {
  color: #adb5bd !important;
  opacity: 1 !important;
}

.avatar-options {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar-radio {
  display: none;
}

.avatar-label {
  border: 2px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.avatar-label img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-radio:checked + .avatar-label {
  border-color: #17a2b8;
  box-shadow: 0 0 0 3px #17a2b8;
}
